<div class="success d-flex flex-column">
  <div class="head col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 mb-2">
    <div class="success-content text-justify">
      <h1 class="title text-center">Thank you.</h1>
      <div class="alert alert-success mb-4">
        <p class="lead w-lg-50 mx-auto text-center">Votre commande a bien été enregistrée.</p>
        <p class="w-lg-50 mx-auto">
          Si vous avez commandé un protocole, vous allez le trouver dans votre onglet "Mes protocoles" d'ici quelques minutes. Si vous avez
          commandé des équipements, ils vous seront envoyés d'ici 2 à 5 jours ouvrés.
        </p>
      </div>
      <div class="alert alert-warning mb-4">
        <p class="w-lg-50 mx-auto">
          Nous vous rappelons que les protocoles sont personnalisés selon vos caractéristiques enregistrées dans votre profil. Il est
          déconseillé d'appliquer le même prorocole sur une autre personne.
        </p>
      </div>
      <!-- 
                  <div class="mb-4" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="link" routerLink="/myprotocols">
                              <span>
                                    afficher mes protocoles
                              </span>
                        </a>
                  <div> -->
    </div>
  </div>
</div>
